<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>websocket聊天室</title>
    <link href="/style/index.css" rel="stylesheet" type="text/css"/>
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
    <script type="text/javascript" src="/js/index.js"></script>
</head>
<body>
    <div class="chat_wrapper">
        <div class="chat_top">
            今天吃什么
        </div>
        <div class="line"></div>
        <div class="chat_middle" id="chat_middle_item">

        </div>
        <div class="line"></div>
        <div class="chat_foot">
            <textarea class="chat_context" id="chat_context_item" cols="30" rows="10" placeholder="请输入"></textarea>
            <div class="chat_commit" id="btnSend">发送</div>
        </div>
    </div>
</body>
</html>